# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/*
testbin/*
build/*
*.o

# Test binary, build with `go test -c`
*.test
**/__debug_bin

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# editor and IDE paraphernalia
.vscode
.vsls.json
.idea
*.swp
*.swo
*~
dev/*

**/node_modules
tilt_modules/
**/id_rsa*
test/e2e/*kubeconfig.yaml
test/e2e/parameters.yaml
pkg/consumerd/stats.svg
